{{#withDocpad document}}
<!doctype html>
<html>
	<head>
		<title>Alyssa May Illustration</title>
		<link rel="stylesheet" type="text/css" href="/styles/global.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav id="main-nav" class="project">
			<ul>
				<li>
					some button
				</li>
			</ul>
			<div id="logo">
				<img src="/img/SignatureVector.svg">
			</div>
			<div id="logo-bg">
				<img src="/img/logo_bg2x.png">
			</div>
		</nav>
		<div id="main" class="project">
			<section id="images">
				{{#compare imgRatio 'portrait' operator='=='}}
					<div id="img-main" class="portrait img">
						<img src="/img/projects/{{imgLarge}}">
					</div>
				{{/compare}}
				{{#compare imgRatio 'portrait' operator='!='}}
					<div id="img-main" class="img">
						<img src="/img/projects/{{imgLarge}}">
					</div>
				{{/compare}}
				<div id="img-sub1" class="img-sub">
					<img src="/img/projects/{{imgDetail1}}">
				</div>
				<div id="img-sub2" class="img-sub">
					<img src="/img/projects/{{imgDetail2}}">
				</div>
			</section>
			<div class="clearfix"></div>
			<section id="content" class="floating-section">
				<div class="content-left">
					{{{md2html content}}}
				</div>
				<div class="content-right">
					something
				</div>
			</section>
			{{> about}}
			{{> social}}
			{{> footer}}
		</div>
		<!--Workaround for webkit bug-->
		<div id="background">
			<img src="/img/main_bg.jpg">
		</div>
	</body>
</html>
{{/withDocpad}}